@{
    ViewData["Title"] = "Home Page";
}
@model DisplayViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br /><br /><br />
    <h3>token: </h3>
    <textarea class="" style="width:700px">@Model.DisplayingValue</textarea>
</div>
